<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Flatly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/assets/css/bootswatch.min.css">
   
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.7/angular-resource.js"></script>


	 <script type="text/javascript" src="/static/js/app.js"></script>
           
                    <script type="text/javascript" src="/static/js/controllers.js"></script>
                    <script type="text/javascript" src="/static/js/services.js"></script>
  </head>

<body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="./" class="navbar-brand"><img src="http://bootswatch.com/assets/img/logo-nav.png">Bookhunt</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" target="_blank">Submit</a></li>
            <li><a href="#" target="_blank">Collections</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          {% block content %}
          {% endblock %}
          </div>
        </div>
      </div>
  </div>


	
</body>
</html>